@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.reels-title {
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
}
.custom-carousel .carousel .control-dots{
  bottom: -40px;
  text-align: left;
}
.custom-carousel .carousel.carousel-slider{
  /* overflow-y: hidden; */
}

.custom-carousel .carousel .control-dots .dot {
  background-color: #ccc;
  box-shadow: none;
}

.custom-carousel .carousel .control-dots .dot.selected,
.custom-carousel .carousel .control-dots .dot:hover {
  background-color: #4C3494;
}